<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Fonts Jar</title>
		<link rel="stylesheet" href="../styles/popup.css" />
	</head>

	<body>
		<header>
			<img src="../../assets/logo/logo.svg" alt="Fonts Jar Logo" />
			<div>
				<h1>Fonts Jar</h1>
				<p>Never forget your favorite fonts!</p>
			</div>
		</header>
		<div class="top-bar hidden">
			<div class="search">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="192"
					height="192"
					fill="#000000"
					viewBox="0 0 256 256"
				>
					<rect width="256" height="256" fill="none"></rect>
					<circle
						cx="116"
						cy="116"
						r="84"
						fill="none"
						stroke="#000000"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="24"
					></circle>
					<line
						x1="175.4"
						y1="175.4"
						x2="224"
						y2="224"
						fill="none"
						stroke="#000000"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="24"
					></line>
				</svg>
				<input type="search" placeholder="Search..." autocomplete="off" />
			</div>
			<div class="sort">
				<svg
					class="alphabetic"
					xmlns="http://www.w3.org/2000/svg"
					width="192"
					height="192"
					fill="#000000"
					viewBox="0 0 256 256"
				>
					<rect width="256" height="256" fill="none"></rect>
					<polyline
						points="152 192 80 56 8 192"
						fill="none"
						stroke="#000000"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="16"
					></polyline>
					<ellipse
						cx="208"
						cy="166.9"
						rx="32"
						ry="28"
						fill="none"
						stroke="#000000"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="16"
					></ellipse>
					<path
						d="M184,112.4a34.1,34.1,0,0,1,24-9.5c17.7,0,32,12.5,32,28V192"
						fill="none"
						stroke="#000000"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="16"
					></path>
					<line
						x1="130.8"
						y1="152"
						x2="29.2"
						y2="152"
						fill="none"
						stroke="#000000"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="16"
					></line>
				</svg>
				<svg
					class="clock hidden"
					xmlns="http://www.w3.org/2000/svg"
					width="192"
					height="192"
					fill="#000000"
					viewBox="0 0 256 256"
				>
					<rect width="256" height="256" fill="none"></rect>
					<circle
						cx="128"
						cy="128"
						r="96"
						fill="none"
						stroke="#000000"
						stroke-miterlimit="10"
						stroke-width="16"
					></circle>
					<polyline
						points="128 72 128 128 184 128"
						fill="none"
						stroke="#000000"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="16"
					></polyline>
				</svg>
				<svg
					class="caret-down"
					xmlns="http://www.w3.org/2000/svg"
					width="192"
					height="192"
					fill="#000000"
					viewBox="0 0 256 256"
				>
					<rect width="256" height="256" fill="none"></rect>
					<polyline
						points="208 96 128 176 48 96"
						fill="none"
						stroke="#000000"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="24"
					></polyline>
				</svg>
			</div>
		</div>
		<div id="favorites">
			<p id="no-fonts" class="hidden nothing-to-show">No fonts added.</p>
			<p id="no-results" class="hidden nothing-to-show">No results.</p>
			<div id="fonts"></div>
		</div>
		<script type="module" src="../scripts/index.js"></script>
	</body>
</html>
