@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
	--greyscale-100: #fbfbfe;
	--greyscale-200: #dadde6;
	--greyscale-300: #c2c8d5;
	--greyscale-400: #b1b9ca;
	--greyscale-500: #a7b2c6;
	--greyscale-600: #8a94a9;
	--greyscale-700: #666f84;
	--greyscale-800: #3a425a;
	--greyscale-900: #060e28;

	--green-100: #d3eadc;
	--green-200: #abdaba;
	--green-300: #84c997;
	--green-400: #5cb975;
	--green-500: #34a853;
	--green-600: #2b894a;
	--green-700: #226a42;
	--green-800: #184c39;
	--green-900: #0f2d31;

	--red-100: #f8d6d6;
	--red-200: #f4b1ad;
	--red-300: #f18d85;
	--red-400: #ed685d;
	--red-500: #ea4335;
	--red-600: #bc3832;
	--red-700: #8f2e30;
	--red-800: #61232d;
	--red-900: #34192b;

	--yellow-100: #fbeecc;
	--yellow-200: #fbe29a;
	--yellow-300: #fbd568;
	--yellow-400: #fbc936;
	--yellow-500: #fbbc04;
	--yellow-600: #ca990b;
	--yellow-700: #997612;
	--yellow-800: #68541a;
	--yellow-900: #373121;

	--blue-100: #cee0fa;
	--blue-200: #a1c5f5;
	--blue-300: #74a9f1;
	--blue-400: #478eec;
	--blue-500: #1a73e8;
	--blue-600: #165fc2;
	--blue-700: #124b9b;
	--blue-800: #0e3675;
	--blue-900: #0a224e;
}

* {
	margin: 0;
	padding: 0;
}

body {
	width: 350px;
	font-family: 'Poppins', sans-serif;
}

.top-bar {
	display: flex;
	align-items: center;
	background: var(--greyscale-200);
	height: 49px;
}

.search {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.75rem 1rem;
	flex: 1;
}

.search svg {
	width: 1.25rem;
	height: 1.25rem;
	margin-right: 0.5rem;
}

.search input {
	font-size: 1rem;
	font-family: 'Poppins';
	color: var(--greyscale-900);
	width: 100%;
	height: 100%;
	border: none;
	background: none;
}

.search input::placeholder {
	color: var(--greyscale-600);
}

.search input:focus {
	outline: none;
}

.sort {
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 0 8px;
	border-left: 1px solid var(--greyscale-100);
	height: 100%;
	transition: background 0.2s;
}

.sort:hover {
	background: var(--greyscale-300);
	cursor: pointer;
}

.sort:hover .caret-down {
	transform: translateY(3px);
}

.alphabetic,
.clock {
	width: 20px;
	height: 20px;
}

.caret-down {
	width: 12px;
	height: 12px;
	transition: transform 0.2s;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: linear-gradient(90deg, var(--blue-900) 0%, var(--greyscale-900) 100%);
	padding: 20px 24px;
	font-family: 'Poppins', sans-serif;
}

header img {
	width: 2.5rem;
	height: 2.5rem;
	filter: drop-shadow(0 0 2rem rgba(26, 115, 232, 0.5)) saturate(1.5);
	margin-right: 1rem;
}

header div {
	display: flex;
	flex-direction: column;
}

header h1 {
	color: var(--greyscale-100);
	font-weight: 600;
	font-size: 24px;
	line-height: 100%;
}

header p {
	color: var(--blue-200);
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.02em;
	margin-top: 2px;
}

.hidden {
	display: none;
}

.nothing-to-show {
	font-size: 1rem;
	padding: 1.5rem;
	font-family: 'Poppins', sans-serif;
}

.font {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.125rem;
	border-bottom: 1px solid var(--greyscale-200);
}

.font .remove {
	opacity: 0;
	height: 1rem;
	width: 1rem;
	background: var(--red-500);
	padding: 0.25rem;
	border-radius: 4px;
	transition: background 0.1s;
}

.font .remove svg {
	width: 100%;
	height: 100%;
}

.font .remove svg line {
	stroke: var(--greyscale-100);
}

.font .remove:hover {
	cursor: pointer;
	background: var(--red-600);
}

.font .remove:active {
	background: var(--red-500);
}

.font:hover .remove {
	opacity: 1;
}

.font:last-child {
	margin-bottom: 0;
}

.font a {
	display: block;
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	color: initial;
}

.font a:hover {
	text-decoration: underline;
	cursor: ne-resize;
}

.font p {
	opacity: 0.5;
	font-size: 14px;
}
